.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

.card-container-outer {
  display: flex;
  padding: 25px;
}

.cardbox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease-in-out;
}
